<% include ./partials/header.ejs%>

<!-- contant pages-->
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4"><%= title %></h1>
<% if(title == "contact"){ %>
<a class="btn btn-primary" href="/contact-list" role="button">Contact List</a>
<% } %>

        <p class="lead">
          This is a simple hero unit, a simple jumbotron-style component for
          calling extra attention to featured content or information.
        </p>
        <hr class="my-4" />
        <p>
          It uses utility classes for typography and spacing to space content
          out within the larger container.
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button"
            >Learn more</a
          >
        </p>
      </div>
    </div>

<% include ./partials/footer.ejs%>